<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Pizza Shop</h1>
<div>Hi
<span th:text="${name}"></span>
    ! You can change your password. Please insert your new password.
</div>
<form method="POST" th:object="${newPassword}" th:action="@{/user/password}">
    <input type="text" th:field="*{userName}" placeholder="${user.name}"
           th:value="*{userName}"/>
    <input type="password" th:field="*{password}" placeholder="password"/>
    <input type="submit" value="CreateNewPassword">
</form>
</body>
</html>
